<div class="row">
    <h1> Experiencia laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>


    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h2>{{Experiencia.nombreE}}</h2>
                    </td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li>
                <h1>hospital Churruca // D.E.P.L.I.</h1> - <h3>años 1992- 2000</h3>
            </li>
            <h6>ElectroMedicina
                Servicio tecnico mantenimiento.</h6>
        </ul>
        <ul>
            <li>
                <h1>Newsan s.a.</h1> - <h3>mayo 2005 - actualidad 2022</h3>
            </li>
            <h6>Tecnico oficial
                -analista-reparador- productos
                : celulares-tv-computacion-aire acondicionado-electro-
                lineas de ensamble como producto terminado, prueba de vida,
                ingnieria de laboratorio y diseño.</h6>
        </ul>
        <ul>
            <li>
                <h1>FullStack Developer jr</h1> - <h3>Septiembre 2022 actualidad</h3>
            </li>
            <h6> Analista-Solucionador Fallas De Productos En la Industria Electronica </h6>
        </ul>
</div>
